

@import '../../styles/vars.module.scss';
.hillBg1 {
  position: absolute;
  z-index: 2;
  width: 60%;
  background: $hillBgColor;
  border-radius: 50%;
  bottom: -45%;
  left: -5%;
  height: 0;
  padding-top: 50%;

  @media screen and (max-width: 1000px) {
      bottom: -15%;
  }

  @media screen and (max-width: 660px) {
      bottom: -7%;
  }

  .day & {
      background-color: $hillBgColorDay;
  }
}

.hillBg2 {
  @extend .hillBg1;
  left: unset;
  right: -5%;
  .day & {
      background-color: $hillBgColorDay;
  }
}

.hillFg1 {
  @extend .hillBg1;
  background-color: $hillFgColor;
  bottom: -55%;
  left: -20%;

  @media screen and (max-width: 1000px) {
      bottom: -30%;
  }

  @media screen and (max-width: 660px) {
      bottom: -20%;
  }

  .day & {
      background-color: $hillFgColorDay;
  }
}

.hillFg2 {
  @extend .hillBg1;
  background-color: $hillFgColor;
  bottom: -50%;
  left: 20%;
  
  @media screen and (max-width: 1000px) {
      bottom: -20%;
  }

  @media screen and (max-width: 660px) {
      bottom: -10%;
  }

  .day & {
      background-color: $hillFgColorDay;
  }
}

.hillFg3 {
  @extend .hillBg1;
  background-color: $hillFgColor;
  bottom: -55%;
  left: unset;
  right: -20%;
  
  @media screen and (max-width: 1000px) {
      bottom: -30%;
  }

  @media screen and (max-width: 660px) {
      bottom: -20%;
  }

  .day & {
      background-color: $hillFgColorDay;
  }
}