@import '../../styles/vars.module.scss';

.wrapper {
    position: relative;
    background: $backgroundColor;
    height: 90%;
    overflow: hidden;

    &.day {
        background: $backgroundColorDay;
    }
}

@mixin randomRotate() {
    $willRotate: random(3);
    @if $willRotate == 1 {
        transform: rotateZ(180deg)
    } @else {
        transform: rotateZ(0deg)
    }
}

// Clouds

@for $i from 1 through 10 {
    .cloud1-#{$i} {
        position: absolute;
        display: inline-block;
        animation: cloudMove1 (random(60) + 55) + s linear 0s infinite;
        left: (random(100) - 80) + vw;
        width: (random(20) + 5) + vw;
        top: random((20) + 1) + vh;
        @include randomRotate();
    }

    .cloud2-#{$i} {
        position: absolute;
        display: inline-block;
        animation: cloudMove1 (random(60) + 55) + s linear 0s infinite;
        left: (random(100) - 80) + vw;
        width: (random(30) + 10) + vw;
        top: random((20) + 1) + vh;
        @include randomRotate();
    }
}

// Rain 
@for $i from 1 through 12 {
    .rainSmall#{$i} {
        position: absolute;
        z-index: 20;
        height: 0;
        width: 1%;
        padding-top: 1%;
        background: $rainColor;
        border-radius: 50%;
        left: (10 * $i) + vw;
        top: -5%;
        animation: drop (2.7 + random(2) / 100) + s linear (random(30) / 25) + s infinite;

        .snowing & {
            background-color: $snowColor;
        }
    }

    .rainBig#{$i} {
        position: absolute;
        z-index: 20;
        height: 0;
        width: 1.5%;
        padding-top: 1.5%;
        background: $rainColor;
        border-radius: 50%;
        top: -5%;
        left: (10 * $i) + vw;
        animation: drop (0.7 + random(2) / 100) + s linear (random(30) / 25) + s infinite;

        .snowing & {
            background-color: $snowColor;
        }
    }

    .rainMed#{$i} {
        position: absolute;
        z-index: 20;
        height: 0;
        width: 1.2%;
        padding-top: 1.2%;
        background: $rainColor;
        border-radius: 50%;
        top: -5%;
        left: (10 * $i) + vw;
        animation: drop (1.7 + random(2) / 100) + s linear (random(30) / 25) + s infinite;

        .snowing & {
            background-color: $snowColor;
        }
    }
}

// Sun
.sun {
    position: absolute;
    left: 15%;
    top: 5%;
    width: 20%;
    box-shadow: 0 0 12px 0 $sunColor;
    background: $sunColor;
    border-radius: 50%;
    padding-top: 20%;
    animation: rise 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

// Moon
.moon {
    position: absolute;
    left: 15%;
    top: 5%;
    width: 20%;

    background: $moonColor;
    box-shadow: 0 0 12px 0 $moonColor;
    border-radius: 50%;
    padding-top: 20%;
    animation: rise 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    .crater1{
        position: absolute;
        top: 20%;
        left: 15%;
        background: $moonCraterColor;
        width: 10%;
        border-radius: 50%;
        padding-top: 10%;
    }

    .crater2 {
        @extend .crater1;
        width: 5%;
        padding-top: 5%;
        top: 30%;
        left: 25%;
    }

    .crater3 {
        @extend .crater1;
        width: 5%;
        padding-top: 5%;
        top: 35%;
        left: 20%;
    }

    .crater4 {
        @extend .crater1;
        width: 15%;
        padding-top: 15%;
        top: 70%;
        left: 50%;
    }

    .crater5 {
        @extend .crater1;
        width: 5%;
        padding-top: 5%;
        top: 70%;
        left: 40%;
    }

    .crater6 {
        @extend .crater1;
        width: 4%;
        padding-top: 4%;
        top: 60%;
        left: 70%;
    }

    .crater7 {
        @extend .crater1;
        width: 7%;
        padding-top: 7%;
        top: 80%;
        left: 40%;
    }

    .crater8 {
        @extend .crater1;
        width: 7%;
        padding-top: 7%;
        top: 40%;
        left: 60%;
    }

    .crater9 {
        @extend .crater1;
        width: 7%;
        padding-top: 7%;
        top: 30%;
        left: 80%;
    }

}

// Hills

.hillBg1 {
    position: absolute;
    z-index: 2;
    width: 60%;
    background: $hillBgColor;
    border-radius: 50%;
    bottom: -45%;
    left: -5%;
    height: 0;
    padding-top: 50%;

    @media screen and (max-width: 1000px) {
        bottom: -15%;
    }

    @media screen and (max-width: 660px) {
        bottom: -7%;
    }

    .day & {
        background-color: $hillBgColorDay;
    }
}

.hillBg2 {
    @extend .hillBg1;
    left: unset;
    right: -5%;
    .day & {
        background-color: $hillBgColorDay;
    }
}

.hillFg1 {
    @extend .hillBg1;
    background-color: $hillFgColor;
    bottom: -55%;
    left: -20%;

    @media screen and (max-width: 1000px) {
        bottom: -30%;
    }

    @media screen and (max-width: 660px) {
        bottom: -20%;
    }

    .day & {
        background-color: $hillFgColorDay;
    }
}

.hillFg2 {
    @extend .hillBg1;
    background-color: $hillFgColor;
    bottom: -50%;
    left: 20%;
    
    @media screen and (max-width: 1000px) {
        bottom: -20%;
    }

    @media screen and (max-width: 660px) {
        bottom: -10%;
    }

    .day & {
        background-color: $hillFgColorDay;
    }
}

.hillFg3 {
    @extend .hillBg1;
    background-color: $hillFgColor;
    bottom: -55%;
    left: unset;
    right: -20%;
    
    @media screen and (max-width: 1000px) {
        bottom: -30%;
    }

    @media screen and (max-width: 660px) {
        bottom: -20%;
    }

    .day & {
        background-color: $hillFgColorDay;
    }
}

// Animtions

@keyframes drop {
    0% {
        transform: translate3d(10vw,-20vh,0) scaleX(1) scaleY(1) rotate(17deg);
    }
    85% {
        transform: translate3d(0, 95vh,0) scaleX(1) scaleY(1) rotate(17deg);
    }
    100% {
        transform: translate3d(0,95vh,0) scaleX(3) scaleY(0) rotate(0deg);
    }
}

@keyframes rise {
    0% {
        transform: translate(-10vw, 100vw)
    } 
    100% {
        transform: translate(0vw, 0vw)
    }
}

@keyframes cloudMove1 {
    0% {
        transform: translateX(-40vw);
    }
    100% {
       transform: translateX(160vw);
    } 
}