@import '../../styles/vars.module.scss';

.wrapper {
    position: relative;
    background: $backgroundColor;
    height: 90%;
    overflow: hidden;

    &.day {
        background: $backgroundColorDay;
    }
}