$hillFgColor: #303C5D;
$hillFgColorDay: rgb(68, 172, 104);
$hillBgColor: #26314F;
$hillBgColorDay: rgb(50, 146, 84);
$backgroundColor:#1A2238;
$backgroundColorDay:rgb(86, 189, 230);
$moonColor:#F6EDBD;
$moonCraterColor:#ECE1A8;
$fallColor: #7FC1F9;
$sunColor: rgb(255, 234, 115);
$snowColor: rgb(255, 255, 255);