.form {
    position: absolute;
    right: 0;
    z-index: 100;
    margin: 0.325em;

    & > label {
        color: white;
        margin: 0 0.325em;
    }
}

.input {
    margin: 0 0 0 0.325em;
}

.submit {
    text-align: center;
    text-decoration: none;
    border: none;
    padding: 0.325em;
}